<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team">

  <select id="findAll" resultType="teamVO">
    select * from team
  </select>

  <insert id="insertTeam" parameterType="teamVO">
    insert into team(id, name, company, debut, total, award, logo)
    values(#{id}, #{name}, #{company}, #{debut}, #{total}, #{award}, #{logo})
  </insert>

  <update id="updateTeam" parameterType="teamVO">
    update team set name=#{name}, company=#{company}, debut=#{debut}, total=#{total}, award=#{award}, logo=#{logo}
    where id=#{id}
  </update>

</mapper>